body
{
background-image:url(imagenes/fondo6.jpg);
background-repeat:repeat;
background-attachment:fixed;
}

.contenedor
{
width:100%;
max-width:1000px;
margin: 0 auto;

}

header
{
    background-color: #DA1F38;
	width:100%;
	margin-top:-10px;
	
 
}

.formulario
{
  
  margin-left: 64%;
  margin-top: -131px;
  margin-right: 50px;
  font-size: 16px;
  font-family: Tahoma;
 
}

.imagen
{
    margin-top:50px;
    margin-left:100px;
}

#usuario
{  margin-left: 27px;}

.menu
{
     width: 100%;
    margin-top: -7px;
}

.nav  
{
 
   border-radius: 4px;
  list-style-type: none;
  margin: 0 auto;
  padding: 3px;
  height: 45px;
 
    /* el color de fondo */
  
	background: #555;
    background: -moz-linear-gradient(#555,#222);
    background: -webkit-linear-gradient(#555,#222);
    background: -o-linear-gradient(#555,#222);
    background: -ms-linear-gradient(#555,#222);
    background: linear-gradient(#555,#222);

}



  /* cada item del menu */
.nav  li 
{
    display: block;
    float: left; /* la lista se ve horizontal */
    height: 40px;
    list-style: none;
    position: relative;
}

.nav li a
{
    border-left: 1px solid #000;
    border-right: 1px solid #666;
    color: #EEE;
    display: block;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    line-height: 28px;
    padding: 0 29px; /* para ajustar cada item*/
    margin: 6px 0;
    text-decoration: none;
    /* animamos el cambio de color de los textos */
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

  /* eliminamos los bordes del primer y el último */
.nav li:first-child a 
{ 
    border-left: none;  
}

.nav li:last-child a 
{ 
    border-right: none; }

  /* efecto hover cambia el color */
.nav li:hover > a 
{  
    color: Crimson;  
}

  /* los submenús */
.nav ul 
{
    border-radius: 0 0 5px 5px;
    left: -3px;
    margin: 0;
    opacity: 0; /* no son visibles */
    position: absolute;
    top: 40px; /* se ubican debajo del enlace principal */
    /* el color de fondo */
    background: #222;
    background: -moz-linear-gradient(#222,#555);
    background: -webkit-linear-gradient(#22,#555);
    background: -o-linear-gradient(#222,#555);
    background: -ms-linear-gradient(#222,#555);
    background: linear-gradient(#222,#555);
    /* animamos su visibildiad */
    -moz-transition: opacity .25s ease .1s;
    -webkit-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
  /* son visibes al poner el cursor encima */
.nav li:hover > ul 
{ 
    opacity: 1;	
}

   /* cada uno de los items de los submenús */
.nav ul li 
{
    height: 0; /* no son visibles */
    overflow: hidden;
    padding: 0;
    /* animamos su visibildiad */
    -moz-transition: height .25s ease .1s;
    -webkit-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}

.nav li:hover > ul li 
{
    height: 36px; /* los mostramos */
    overflow: visible;
    padding: 0;
}

.nav ul li a 
{
    border: none;
    border-bottom: 1px solid #111;
    margin: 0;
    /* el ancho dependerá de los textos a utilizar */
    padding: 5px 20px;
    width: 180px;
}

  /* el último no tiene un borde */
.nav ul li:last-child a 
{ 
    border: none; 
}

.reg
{
    font-family: sans-serif;
    border: 1px solid #C3BCBE;
    border-radius: 6px;   
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px #F3EBEB, 0 0 0 10px #F57878 inset;	
    line-height: 30px;
    max-width: 500px;
    margin-left: 225px;
}

.reg form input:invalid 
{
    border: 1px solid red;
}
 
/* Estilo por defecto */

.reg form input:valid 
{
    border: 1px solid green;
}

/* Estilo por defecto */
 
.reg form input:required:invalid 
{
    border: 1px solid red; 
}
 
.reg form input:required:valid 
{
    border: 1px solid green;
}

.nav li a.active
{
   color: #F74040;
}

.products {
  width: 950px;
  margin: 0 -23px 0 -15px;
  margin-left: 25px;
  margin-top: 20px;
}

.item.box.normal {
   width: 220px;
   height: 370px;
}

.item.box {
  background-color: white;
  float: left; 
  border: 1px solid #837373;
  margin: 0 6px 9px 0;
  border: 5px solid #B5B2B2;
  border-radius: 5px;
  color: rgba(0, 0, 0, 1);
}

.item.box.title;
.item.box.descrip{
  color: #686868;
  padding: 5px 20px;
  height: 30px;
}
.subasta {
	margin-left:0px
}

.buscar
{ margin-top: 11px;
  padding-left: 20px;}

.encabezado
{
   background-color:#676767;
   color:#FFFFFF;
   font-weight:bold;
   text-align: center;
}

.button
  {
  border: 1px solid #040303;
  font-size: 18px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #CD0A09;
  background: linear-gradient(left, #4972B5, #618ACB);
  background: -moz-linear-gradient(left, #4972B5, #618ACB);
  background: -webkit-linear-gradient(left, #DA1F38 #DA1F38);
  background: -o-linear-gradient(left, #618ACB, #618ACB);
  color: #FFFFFF;
  }
.registros {
   color: rgba(117, 38, 38, 1);
}

.comentario {
  border-radius: 8px 0px 8px 8px;
  border-width: 2px;
  border-color: #cccccc;
  border-style: solid;
  margin: 2px 5px;
  padding: 5px;
  display: block;
  margin-bottom: 20px;
}
.nombre{
  overflow: auto;
  border: 2px solid #CCC;
  margin-bottom: -4px;
  border-radius: 8px 8px 0px 0px;
  float: right;
  margin-right: 5px;
  border-bottom:4px solid rgb(204, 204, 204);
  padding: 5px;
}